# JetBrains IDEs
/.idea/*
!/.idea/codeStyles

# Vim swap files
.*.sw?

# Created by npm(1)
/node_modules/
/npm-debug.log

# Created by "tiddlywiki --build"
/editions/*/output/

# Created by the build script
/index.html
/hack.html

# $:/StoryList
$__StoryList.tid

# Draft tiddlers
Draft of *
